:root {
    --header-line-color: #ECECEC;
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --button-hover-coolor: #188CE8;
    --background-color: #F5F4FA;
    --project-border-color: #EEEEEE;
    --footer-background-color: #2F303A;
    --icon-fill: #AFB1B8;
    --white: #ffffff;
}

/* Утилітарні стилі */

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    font-size: 14px;
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    font-style: normal;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*! Стилі хедера*/

.header-section {
    border-bottom: 1px solid var(--header-line-color);
}

.navigation {
    display: flex;
    align-items: center;
    margin-right: 284px;
}

.logo {
    display: block;
    margin-right: 95px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo--black {
    color: #000;
}

.navigation__list {
    display: flex;

    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;


    color: var(--text-color);
}

.navigation__list :not(:last-child) {
    margin-right: 50px;
}

.navigation__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--title-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.navigation__link:focus {
    color: var(--accent-color);
}

.navigation__link--current {
    color: var(--accent-color);
}

.navigation__link--current::after {
    position: absolute;
    bottom: 0;
    left: 0;

    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

.contacts {
    display: flex;

    padding-left: 0;
    margin: 0;

}

.contacts :not(:last-child) {
    margin-right: 50px;
}

.contacts__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--text-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
    color: var(--accent-color);
}

.contacts__icon {
    margin-right: 10px;
    width: 16px;
    height: 12px;
    fill: currentColor;
    align-items: center;
}

.contacts__icon--vertical {
    width: 10px;
    height: 16px;
}

/*! Стилі головної сторінки */

.hero {
    padding-top: 200px;
    padding-right: 15px;
    padding-bottom: 200px;
    padding-left: 15px;
    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../image/background/hero-background.jpg');
    background-size: 1600px;
    background-position: center;
    background-repeat: no-repeat;
}

.page-title {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--white);
}

.button {
    display: block;
    margin: 0 auto;
    padding: 10px 32px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    color: var(--white);
    background-color: var(--accent-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: var(--button-hover-coolor);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0.4;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 530px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: var(--white);

    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);

    cursor: pointer;
}

.modal-button__icon {
    width: 18px;
    height: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus .modal-button__icon {
    fill: var(--accent-color);
}

.form {
    padding: 40px;
    font-size: 12px;
    line-height: 1.16;
}

.form__title {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    color: var(--title-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
}

.form__field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form__lable {
    display: block;
    margin-bottom: 4px;
}

.form__input {
    padding: 12px 12px 12px 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
    border-color: var(--accent-color);
}

.form__input:focus+.form__icon {
    fill: var(--accent-color);
}

.form__icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
    width: 18px;
    height: 18px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comments {
    padding: 12px 16px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    resize: none;
    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comments:focus {
    border-color: var(--accent-color);
}

.form__comments::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.checkbox-field {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

}

.checkbox:checked+.custom-checkbox {
    background-color: var(--accent-color);
    outline-color: transparent;
}

.checkbox:checked+.custom-checkbox__icon {
    opacity: 1;
}

.custom-checkbox {
    position: absolute;
    top: 0;
    left: 13px;

    display: block;
    width: 16px;
    height: 15px;

    border-radius: 2px;
    outline: 2px solid #000;
    outline-offset: -2px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox__icon {
    width: 16px;
    height: 15px;
    fill: var(--white);
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-field__label {
    display: inline-block;
    margin-left: 35px;
}

.checkbox-field__link {
    color: var(--accent-color);
}

.modal-form-butoon {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 55px;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--white);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-butoon:hover,
.modal-form-butoon:focus {
    background-color: var(--button-hover-coolor);
    cursor: pointer;
}

.preference {
    padding-bottom: 0;
}

.invisible-title {
    display: none;
}

.preference-item:not(:last-child) {
    margin-right: 30px;
}

.preference-item {
    display: block;
    width: 270px;
}

.prefrence-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--background-color);
}

.prefrence-icon svg {
    width: 70px;
    height: 70px;
}

.prefrence-icon use {}

.preference-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: inherit;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--title-color);
}

.prefrence-text {
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-color);
}

.our-work-list>li:not(:last-child) {
    margin-right: 30px;
}

.image-container {
    position: relative;
    overflow: hidden;
    pointer-events: none;
}

.work-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    padding: 27px 0;
    font-weight: 700;
    font-size: 1.14;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    background-color: rgba(47, 48, 58, 0.8);

}

.team {
    background-color: var(--background-color);
}

.team-item {
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
    margin-right: 30px;
}

.employee-description {
    padding-top: 30px;
    padding-bottom: 30px;
}


.subtitle {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-color);
}

.team-text {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--icon-fill);

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item:not(:last-child) {
    margin-right: 10px;
}

.social-link:hover,
.social-link:focus {
    color: var(--white);
    background-color: var(--accent-color);
}

.social-link svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.clients-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    color: var(--icon-fill);

    transition-property: color, background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}

.clients-item:hover,
.clients-item:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
    cursor: pointer;
}

.clients-item svg {
    width: 105px;
    height: 60px;
    fill: currentColor;
}

/*! Стилі футера */

.footer {
    background-color: var(--footer-background-color);
}

.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: start;
    align-items: baseline;
}

.logo-adress {
    margin-right: 70px;
}

.footer a.logo {
    display: block;
    margin-bottom: 20px;
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--white);
}

.footer .logo {
    margin-right: 0;
}

.adress-item {
    margin-bottom: 9px;

    font-weight: 400;
    line-height: 1.71;
    color: var(--white);
}

.adress-link {
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-link:hover {
    color: var(--accent-color);
}

.subscribe {
    margin-right: 95px;
}

.subscribe-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
}

.subscribe-item:not(:last-child) {
    margin-right: 10px;
}

.subscribe-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .1);
    color: var(--white);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-link:hover,
.subscribe-link:focus {
    background-color: var(--accent-color);
}

.subscribe-link svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.suscribe-form {
    display: flex;
    align-items: flex-end;
}

.suscribe-field {
    display: block;
    color: var(--white);
}

.suscribe-label {
    display: block;
    text-transform: uppercase;
    margin-bottom: 20px;


}

.subscribe-mail {
    margin-right: 12px;
    width: 360px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: inherit;
}

.submit-button {
    position: relative;
    padding: 15px 65px 15px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-width: 1px;
    border-color: transparent;
    background-color: var(--accent-color);
    color: var(--white);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover {
    background-color: var(--button-hover-coolor);
}

.submit-button svg {
    position: absolute;
    top: 10px;
    right: 30px;
    width: 24px;
    height: 24px;
    fill: var(--white);
}

/*! Стилі сторінки Portfolio */
.filter-list {
    margin-bottom: 50px;
}

.filter-item:not(:last-child) {
    margin-right: 8px;
}

.filter-button {
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;

    color: var(--title-color);
    background-color: var(--background-color);

    border-radius: 4px;
    border: 0;

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current-button {
    background-color: var(--accent-color);
    color: var(--white);
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--accent-color);
    color: var(--white);
}

.project-item {
    margin-right: 30px;
    margin-bottom: 30px;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item:nth-child(3n) {
    margin-right: 0;
}

.project-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.project-item:hover,
.project-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 295px;
    left: 0;


    padding-left: 25px;
    padding-right: 25px;
    padding-top: 60px;
    background-color: rgba(33, 150, 243, 0.9);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--white);
}

.project-item:hover .overlay {
    transform: translatey(-295px);
}

.project-description {
    padding: 20px 24px;
    border: 1px solid var(--project-border-color);
    border-top: 0;
}

.project-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--title-color);
}

.project-text {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;

    color: var(--text-color);
}